/* sætter margin og padding til 0 i stedet for browserens default settings */
* {
  margin: 0;
  padding: 0;
}
/* MOBILE FIRST */

/* styling af baggrundsbillede */
.background-image {
  background-image: url("billeder/landingpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 14%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* scroll button mobile */

/* From uiverse.io by @mrhyddenn */
.mouse-btn {
  margin: 10px auto;
  margin-top: 10px;
  width: 36px;
  height: 62px;
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  margin-top: 3rem;
}
.container_mouse h1 {
  color: white;
  text-align: center;
}

.container_mouse {
  grid-row: 4;
  grid-column: span 2;
}

.mouse-scroll {
  display: block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  margin: auto;
  animation: scrolling13 1s linear infinite;
}
/* css animation på scroll knap */

@keyframes scrolling13 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

/* styling af tagline på baggrundsbillede */
.landing_h1 {
  color: white;
  font-size: 4rem;
  text-align: end;
  place-self: end;
  grid-column: 2;
  grid-row: 3;
  padding-right: 20px;
  font-style: italic;
  max-width: 9ch;
  text-shadow: #5c6336 1px 1px 1px;
}

.landing_titel h2 {
  color: #5c6336;
  font-size: 3rem;
  text-align: center;
  padding-top: 90px;
}

.landing_titel h3 {
  font-family: SIL;
  font-size: 1.6rem;
  padding-bottom: 40px;
}

.landing_titel h3,
h2 {
  text-align: center;
  color: #bb4726;
  padding-top: 20px;
}
/* centrering af button på landingpage */
.text-center {
  text-align: center;
  padding-block: 20px;
}

.tophikes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 20px;
}

/* størrelse på billeder på landingpage og dertilhørende tekst rugbrikker. */
article img {
  object-fit: cover;
  height: 500px;
}

article h2,
article p {
  text-align: center;
  padding-inline: 20px;
  line-height: 2rem;
  margin-bottom: 20px;
}
/* styling af knap på landingpage */
.text-center button {
  color: #f2f2f2;
  background-color: #5c6336;
  padding: 20px;
  padding-inline: 40px;
  display: inline;
  text-align: center;
  border-radius: 20px;
}

.text-center button:hover {
  color: #bb4726;
}

/* IPAD-VERSION */

@media (min-width: 768px) {
  .landing_h1 {
    color: white;
    font-size: 6rem;
    text-align: end;
    place-self: end;
    grid-column: 2;
    grid-row: 2;
    padding-right: 20px;
    font-style: italic;
    max-width: 9ch;
    padding-right: 40px;
  }
}

/* desktop media query */

@media (min-width: 870px) {
  .background-image {
    background-position: top;
    grid-template-columns: 1fr;
  }
  .landing_h1 {
    text-align: center;
    font-size: 7rem;
    grid-column: 1/1;
    grid-row: 2/4;
    place-self: center center;
  }

  .landing_titel h2 {
    color: #5c6336;
    font-size: 4rem;
    text-align: center;
  }
  .landing_titel h3 {
    font-size: 2rem;
  }
}
