* {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url("billeder/landingpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 14%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.logo {
  margin-right: auto;
}

.header_landing {
  display: flex;
  position: fixed;
  justify-content: space-between;
}
.primary_nav {
  position: fixed;
  padding: 20px;
  font-family: BebasNeue;
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.primary_nav a {
  text-decoration: none;
}

/* scroll button mobile */

/* From uiverse.io by @mrhyddenn */
.mouse-btn {
  margin: 10px auto;
  width: 40px;
  height: 80px;
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
}
.container_mouse h1 {
  color: white;
  text-align: center;
}

.container_mouse {
  grid-row: 4;
  grid-column: span 2;
}

.mouse-scroll {
  display: block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  margin: auto;
  animation: scrolling13 1s linear infinite;
}

@keyframes scrolling13 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

/* fonts */

@font-face {
  font-family: BebasNeue;
  src: url(fonts/BebasNeue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: SIL;
  src: url(fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}

h3 {
  font-family: "BebasNeue";
  color: #bb4726;
}
a img {
  width: 20%;
  padding: 10px;
  position: fixed;
}

.landing_h1 {
  color: white;
  font-size: 3rem;
  text-align: end;
  place-self: end;
  grid-column: 2;
  grid-row: 2;
  padding-right: 20px;
  text-shadow: black 5px 5px 5px;
}

.landing_titel h2 {
  color: #5c6336;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  padding-top: 90px;
}

.landing_titel h3 {
  font-family: SIL;
  font-size: 1.6rem;
  padding-bottom: 40px;
}

.landing_titel h3,
h2 {
  text-align: center;
  color: #bb4726;
  padding-top: 20px;
}
.text-center {
  text-align: center;
  padding-block: 20px;
}

article img {
  object-fit: cover;
  width: 500px;
  height: 500px;
}

article h2,
article p {
  text-align: center;
  padding-inline: 20px;
  line-height: 2rem;
  margin-bottom: 20px;
}

button {
  color: #f2f2f2;
  background-color: #5c6336;
  padding: 20px;
  padding-inline: 40px;
  display: inline;
  text-align: center;
}

footer {
  background-color: #5c6336;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
address:nth-child(1) {
  text-align: center;
}

address h2,
.sporgsmal h2 {
  color: black;
}
.tophikes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 20px;
}

@media (min-width: 800px) {
  .background-image {
    background-position: top;
    grid-template-columns: 1fr;
  }
  .landing_h1 {
    text-align: center;
    font-size: 6rem;
    grid-column: 1/1;
    grid-row: 1/1;
    place-self: center center;
  }

  .landing_titel h2 {
    color: #5c6336;
    font-size: 4rem;
    font-style: italic;
    text-align: center;
  }
  .landing_titel h3 {
    font-size: 2rem;
  }
}
