/* Generelt */
* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

html {
  background-color: #eef4e8;
}

img {
  max-width: 100%;
}

/* fonts */
@font-face {
  font-family: BebasNeue;
  src: url(fonts/BebasNeue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: SIL;
  src: url(fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}

/* *********** Header ************** */
.banner {
  position: fixed;
  z-index: 1;
}
.logo {
  margin-inline: 40px;
}

.nav-menu li {
  font-family: BebasNeue, sans-serif;
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  margin-right: 20px;
}
a {
  color: #5c6336;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 85px;
}

.nav-link {
  transition: 0.7s ease;
}
.banner:hover {
  background-color: white;
}

.navbar a:hover {
  color: #5c6336;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin-block: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #5c6336;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .logo {
    margin-inline: 0;
  }

  .logo img {
    width: 20%;
  }
  .navbar {
    padding: 20px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin-block: 16px;
  }

  .nav-menu.active {
    left: 0;
  }
}

/*************** main (filtrering/loop view) *********/
/* grid - loop view */
.loop_section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
  gap: 1rem;
}

/* design header - loop view */
.filteringsheader {
  text-align: center;
}

nav {
  list-style: none;
  line-height: 2rem;
  /* display: inline; */
  padding-bottom: 20px;
}

button {
  font-family: BebasNeue;
  color: #5c6336;
  font-size: 1.5rem;
  border-style: none;
  background-color: #eef4e8;
  font-weight: lighter;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  color: #bb4726;
}

.valgt {
  color: #bb4726;
}

.filteringsheader h2 {
  font-family: BebasNeue;
  color: #bb4726;
  font-size: 2rem;
  font-weight: lighter;
  padding-bottom: 15px;
}

.filteringsheader h1 {
  font-family: SIL;
  color: #5c6336;
  font-size: 3rem;
  padding-top: 100px;
}

/* design indhold - loop view */
p {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}
h1,
h2,
h3 {
  font-family: BebasNeue;
  margin-bottom: 15px;
}

/* hover box */
.h_container {
  position: relative;
  width: 100%;
  background-color: black;
}

.picture {
  /* opacity: 1; */
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}

/* placering og styling af text-boksen */
.box {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* hover effekt på billede */
.h_container:hover .picture {
  background-color: black;
  opacity: 0.3;
}

/* Gør tekst-boksen synlig */
.h_container:hover .box {
  opacity: 1;
}

/* styling af teksten */
.text_p {
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  /* Gør at der ikke kommer en ny linje */
  white-space: nowrap;
  /* Gør man ikke se resten af teksten */
  overflow: hidden;
  /* ellipsis laver de tre prikker (...) */
  text-overflow: ellipsis;
  /* Siger hvor meget tekst vi må se  */
  max-width: 20ch;
}

/* Styling af h3 */
.text_h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling af Call-to-action knap */
.red {
  color: #bb4726;
  text-align: center;
  margin-block: 20px;
}
.facebook,
.instagram {
  width: 100px;
  height: auto;
}

.RM {
  font-family: BebasNeue;
  color: white;
  background-color: #5c6336;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: black solid 0.5px;
}

/* footer */
footer {
  background-color: #5c6336;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
address:nth-child(1) {
  text-align: center;
}
.sporgsmal {
  text-align: center;
}
address h2,
.sporgsmal h2 {
  color: black;
}
address h2,
.sporgsmal h2 {
  color: black;
}

/****** ENKELTSIDE *******/

.grid_1-1 {
  margin-bottom: 20px;
}
.grid_1-1 img {
  margin-top: 100px;
}

.grid_1-1 article {
  padding-top: 20px;
  background-color: white;
}

.grid_1-1 h1 {
  text-align: left;
  color: #5c6336;
  font-size: 3rem;
  padding-left: 20px;
}
.grid_1-1 p {
  padding-inline: 20px;
  line-height: 2rem;
  padding-bottom: 20px;
}
.grid_1-1 h2 {
  color: #bb4726;
  font-size: 2.5rem;
  padding-left: 20px;
}

.grid_1-1 h3 {
  font-size: 1.5rem;
  color: #bb4726;
  padding-left: 20px;
}

.grid_1-1 article h1 {
  flex: 1;
}

.tilbage {
  font-family: BebasNeue;
  color: white;
  background-color: #5c6336;
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  display: none;
}
.tilbage_mobil {
  font-family: BebasNeue;
  color: white;
  background-color: #5c6336;
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-left: 40%;
}

@media (min-width: 768px) {
  /* enkeltside */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1-1 img {
    grid-column: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
  }
  .grid_1-1 article {
    grid-column: 2;
  }

  .grid_1-1 h1 {
    text-align: left;
    /* margin-top: -8px; */
  }
  .tilbage {
    display: block;
  }

  .tilbage_mobil {
    display: none;
  }

  /* Loop view */
  .logo > img:nth-child(1) {
    max-width: 10%;
    padding-top: 10px;
  }

  footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  address:nth-child(1) {
    text-align: left;
  }
}
