/* Generelt */
main {
  max-width: 1200px;
  margin: 0 auto;
}

html {
  background-color: #eef4e8;
}

img {
  max-width: 100%;
}

/* fonts */
@font-face {
  font-family: BebasNeue;
  src: url(fonts/BebasNeue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: SIL;
  src: url(fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}
/*************** main (filtrering/loop view) *********/
/* grid - loop view */
.loop_section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
  gap: 1rem;
}

/* design header - loop view */
.filteringsheader {
  text-align: center;
}

a img {
  width: 10%;
}

nav {
  list-style: none;
  line-height: 2rem;
  display: inline;
}

button {
  font-family: BebasNeue;
  color: #5c6336;
  font-size: 1.5rem;
  border-style: none;
  background-color: #eef4e8;
  font-weight: lighter;
  cursor: pointer;
}

button:hover {
  color: #bb4726;
}

.valgt {
  color: #bb4726;
}

header h2 {
  font-family: BebasNeue;
  color: #bb4726;
  font-size: 2rem;
  font-weight: lighter;
}

header h1 {
  font-family: SIL;
  color: #5c6336;
  font-size: 3rem;
}

/* design indhold - loop view */
p {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3 {
  font-family: BebasNeue;
}

/* hover box */
.h_container {
  position: relative;
  width: 100%;
  background-color: black;
}

.picture {
  /* opacity: 1; */
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}

/* placering og styling af text-boksen */
.box {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* hover effekt på billede */
.h_container:hover .picture {
  background-color: black;
  opacity: 0.3;
}

/* Gør tekst-boksen synlig */
.h_container:hover .box {
  opacity: 1;
}

/* styling af teksten */
.text_p {
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  /* Gør at der ikke kommer en ny linje */
  white-space: nowrap;
  /* Gør man ikke se resten af teksten */
  overflow: hidden;
  /* ellipsis laver de tre prikker (...) */
  text-overflow: ellipsis;
  /* Siger hvor meget tekst vi må se  */
  max-width: 20ch;
}

/* Styling af h3 */
.text_h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling af Call-to-action knap */
.red {
  color: #bb4726;
  text-align: center;
}
.facebook,
.instagram {
  width: 100px;
  height: auto;
}

.RM {
  font-family: BebasNeue;
  color: white;
  background-color: #5c6336;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: black solid 0.5px;
}

/* footer */
footer {
  background-color: #5c6336;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

address h2,
.sporgsmal h2 {
  color: black;
}

/****** ENKELTSIDE *******/

.grid_1-1 {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.grid_1-1 h1 {
  text-align: center;
  color: #bb4726;
  font-size: 3rem;
  /* order: 1; */
}

.grid_1-1 h2 {
  color: #bb4726;
  font-size: 2.5rem;
}

.grid_1-1 h3 {
  font-size: 2rem;
}

.grid_1-1 article h1 {
  flex: 1;
}

@media (min-width: 811px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .grid_1-1 img {
    grid-column: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid_1-1 article {
    grid-column: 2;
  }

  .grid_1-1 h1 {
    text-align: left;
    margin-top: -8px;
  }
}
